/* 组件切换动画 */
.slide-right-enter-active,
.slide-right-leave-active,
 .slide-left-enter-active,
 .slide-left-leave-active {
      /* will-change: transform; */
      transition: all 500ms;
      /* position: absolute; */
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -ms-transition: all 500ms;
      -o-transition: all 500ms;
      -webkit-transition: all 500ms;

}
.slide-right-enter {
   opacity: 0;
   /* transform: translate3d(-100%, 0, 0);
   -webkit-transform: translate3d(-100%, 0, 0);
   -moz-transform: translate3d(-100%, 0, 0);
   -ms-transform: translate3d(-100%, 0, 0);
   -o-transform: translate3d(-100%, 0, 0); */
}
 .slide-right-leave-active {
 opacity: 1;
   /* transform: translate3d(100%, 0, 0);
   -webkit-transform: translate3d(100%, 0, 0);
   -moz-transform: translate3d(100%, 0, 0);
   -ms-transform: translate3d(100%, 0, 0);
   -o-transform: translate3d(100%, 0, 0); */
}
 .slide-left-enter {
   opacity: 1;
   /* transform: translate3d(100%,0, 0);
   -webkit-transform: translate3d(100%,0, 0);
   -moz-transform: translate3d(100%,0, 0);
   -ms-transform: translate3d(100%,0, 0);
   -o-transform: translate3d(100%,0, 0); */
}
 .slide-left-leave-active {
   opacity: 0;
  /* transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
   -moz-transform: translate3d(-100%, 0, 0);
   -ms-transform: translate3d(-100%, 0, 0);
   -o-transform: translate3d(-100%, 0, 0); */
 }
  /* 修改框架默认样式 */
  .mint-swipe-indicator {
    background: blue;

  }
  .mint-swipe-indicator.is-active{
    background: red;
  }
  /* 隐藏滚动条 */
 ::-webkit-scrollbar {
     width: 0px;
    display: none;
  }
/* .anchorBL{
  display: none
} */
/* 地图样式 */
.BMap_geolocationIcon{
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('./../homeimg/zhuanghaodingwei@2x.png') !important;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;


}
.BMap_geolocationContainer{
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}
.BMap_geolocationIcon:hover{
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('./../homeimg/ziyuan@2x.png') !important;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.van-picker{
  width: 100%;
  position: fixed;
  bottom: 0;

 z-index: 9999;
}
.van-picker__toolbar{
  width:100%;
  background:#FFCC00;

}




